<div class="reviews__wrapper">
  <div class="reviews__first-div">
    <div class="first-div__left">
      <div class="first-div__wrapper">
        <div>
          <p class="p__bigger-letter">Lorem ipsum</p>
          <p class="p__big-letter">Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
          <p class="p__small-letter"><b>Lorem ipsum</b> dolor sit amet, consectetur adipisicing elit. Assumenda commodi
            consectetur, deserunt dolor doloribus dolorum, eius et expedita illum ipsam labore laborum necessitatibus,
            non rerum saepe sed similique sit soluta!</p>
          <p class="p__small-letter"><b>Lorem ipsum</b> sit amet, consectetur adipisicing elit. Assumenda commodi
            consectetur, deserunt dolor doloribus dolorum, eius et expedita illum ipsam labore laborum necessitatibus,
            non rerum saepe sed similique sit soluta!</p>
        </div>
      </div>
    </div>

    <div [ngClass]="onPlay?'display-none':'video-box'">
      <div [ngClass]="onPlay?'display-none':'play-btn'" (click)="play($event)">
        <img src="./assets/images/reviews/play-button.svg">
      </div>
    </div>

    <div [ngClass]="close?'close-img':'display-none'">
      <div [ngClass]="onPlay?'video is-active':'display-none'">
        <iframe width="800" height="515" src="https://www.youtube.com/embed/lhFU5H5KPFE" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <div [ngClass]="close?'close-img':'display-none'" (click)="isClosed($event)">
          <img src="./assets/images/reviews/close.svg">
        </div>
      </div>
    </div>

    <div class="first-div__right">
    </div>

  </div>

  <div class="reviews__fifth-div">
    <p class="p__big-letter black">Speak in years</p>
    <div class="fifth__inside-div">
      <div class="fifth__flex" *ngFor="let el of circle" [id]="el.id">
        <div class="fifth__round">{{el.number}}</div>
        <div class="fifth__p-style">{{el.description}}</div>
      </div>
    </div>
  </div>

  <div class="reviews__third-div">
    <div class="third__top-flex">
      <p class="p__second-big-letter gold">МИ СПІВПРАЦЮЄМО</p>
      <p class="p__big-letter white">З ЛІДЕРАМИ ІТ-РИНКУ</p>
    </div>
    <div class="third__bottom-flex">
      <div class="third__inside">
        <p class="third__p-small">Починаючи з 2016 року ми відточували наші методи навчання і знайшли найбільш дієвий
          спосіб, який дає можливість студентам опановувати програму краще і в більшому об'ємі.</p>
        <ul>
          <li class="third__li-text-style">Лекційний матеріал подається окремо. Це дає змогу зосередитись на
            ознайомленні з ним не відволікаючись на виконання будь-яких дій.
          </li>
          <li class="third__li-text-style">Практичні заняття проходять в окремі дні і включають завдання по попередній
            лекції. При цьому, частина завдань не містить абстрактних умов. Це дає змогу чітко закріпити пройдений
            матеріал. Але є завдання, які змусять вас розвиватись, оскільки будуть вже більш абстрактними, і їх
            виконання буде залежити від вашої уяви.
          </li>
          <li class="third__li-text-style">Як результат поєднання попередніх фактори ви опануєте теоретичну частину,
            закріпите її на практиці в двох різновидах завдань.
          </li>
        </ul>
        <p class="third__p-small">Під час створення програми навчання ми спирались на новітні технології та рекомендації
          наших партнерів, щоб після закінчення навчання ви могли швидше влаштуватись на роботу.</p>
      </div>
      <div class="third__inside">
        <carousel [width]="600"
                  [cellWidth]="'100%'"
                  [arrowsOutside]="true"
                  [autoplay]="true"
                  [dots]="true"
                  [loop]="true">
          <div class="carousel-cell">
            <img src="./assets/images/reviews/carousel/cukerberg.jpg">
          </div>
          <div class="carousel-cell">
            <img src="./assets/images/reviews/carousel/elon.jpg">
          </div>
          <div class="carousel-cell">
            <img src="./assets/images/reviews/carousel/stiv.jpg">
          </div>
          <div class="carousel-cell">
            <img src="./assets/images/reviews/carousel/elon.jpg">
          </div>
        </carousel>
      </div>
    </div>
  </div>

  <div class="reviews__third-div background-white">
    <div class="third__top-flex">
      <p class="p__second-big-letter">НАВЧАЙСЯ В ПРОФІ</p>
      <p class="p__big-letter">НАШІ МЕНТОРИ</p>
    </div>
    <div class="fourth__bottom-flex">
      <div class="fourth__container" *ngFor="let el of card" [id]="el.id">
        <p class="fourth__p-bold">{{el.fullName}}</p>
        <p class="fourth__p-normal">{{el.experience}}</p>
        <img [src]="el.img">
        <p class="fourth__p-description">{{el.description}}</p>
      </div>

    </div>
  </div>

</div>
