$main-font: "Girassol", cursive;

.wrapper {
  width: 100%;
}

.photo {
  &__wrapper {
    display: flex;

    img {
      width: 49%;
    }
  }
}

.content {
  &__inner {
  }

  &__divider {
    height: 100px;
    font-family: $main-font;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ab8e69;
  }

  &__rooms {
    overflow: hidden;
    padding: 0 30px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-inner {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 23%;
        height: 80%;
        border-radius: 5%;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);

        &:hover {
          transform: rotate(7deg);
        }
      }
    }
  }

  &__description {
    & {
      width: 60%;
      height: 100%;
      padding: 30px;
    }

    &-top {
      font-size: 30px;
      font-family: $main-font;
      color: #ab8e69;
      font-weight: bold;
    }

    &-main {
      font-style: italic;
      color: #ab8e69;
    }
  }
}

.description {
  &__wrapper {
    display: flex;
  }
  &__button {
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      height: 40px;
      width: 40%;
      background-color: white;
      border: 1px solid #ab8e69;
      color: #ab8e69;
      font-weight: bold;
      border-radius: 3px;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: #ab8e69;
        color: white;
        transition: .5s;
      }
    }
  }
}

.drag__img {
  width: 25%;
  height: 200px;
}
