$main-font: "Girassol", cursive;

.wrapper {
  width: 100%;
}

.photo {
  &__wrapper {
    display: flex;
    height: 50vh;
    width: 100%;
    align-items: center;
  }
}

carousel {
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.content {
  &__inner {
  }

  &__divider {
    height: 100px;
    font-family: $main-font;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ab8e69;
  }

  &__rooms {
    overflow: hidden;
  }

  &__description {
    & {
      width: 60%;
      height: 100%;
      padding: 30px;
    }

    &-top {
      font-size: 30px;
      font-family: $main-font;
      color: #ab8e69;
      font-weight: bold;
    }

    &-main {
      font-style: italic;
      color: #ab8e69;
    }
  }
}

.description {
  &__wrapper {
    display: flex;
  }
  &__button {
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      height: 40px;
      width: 40%;
      background-color: white;
      border: 1px solid #ab8e69;
      color: #ab8e69;
      font-weight: bold;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
    }
  }
}

.drag__img {
  width: 25%;
  height: 200px;
}
