$main-font: "Girassol", cursive;

.wrapper {
  width: 100%;
}

.photo {
  &__wrapper {
    display: flex;

    img {
      width: 50%;
    }
  }
}

.content {
  &__inner {
  }

  &__divider {
    height: 100px;
    font-family: $main-font;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ab8e69;
  }

  &__rooms {
    overflow: hidden;
  }

  &__photo-wrapper {
    padding: 20px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
      width: 20%;
      margin: 20px;
      transform: rotate(0deg);

      &:hover {
        box-shadow: 0 6px 6px rgb(10 16 20 / 15%), 0 0 52px rgb(10 16 20 / 12%);
        // transform: rotate(0deg);
        transform: rotate(7deg);
      }
    }
  }

  &__description {
    & {
      width: 60%;
      height: 100%;
      padding: 30px;
    }

    &-top {
      font-size: 30px;
      font-family: $main-font;
      color: #ab8e69;
      font-weight: bold;
    }

    &-main {
      font-style: italic;
      color: #ab8e69;
    }
  }
}

.description {
  &__wrapper {
    display: flex;
  }
  &__button {
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      height: 40px;
      width: 40%;
      background-color: white;
      border: 1px solid #ab8e69;
      color: #ab8e69;
      font-weight: bold;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
    }
  }
}
