<div class="footer__wrapper">
  <div class="footer__content">
    <div class="footer__content-left">
      <input class="" type="text" />
      <div class="footer__content-left-btn">
        <button>Send</button>
      </div>
    </div>
    <div class="footer__content-center">
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.098735779518!2d-73.99083694962437!3d40.73785287922767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a189d93c29%3A0xf2ea6bb9d1a55a32!2sEarth%20Class%20Mail!5e0!3m2!1suk!2sua!4v1604317388576!5m2!1suk!2sua"
        frameborder="0"
        allowfullscreen="false"
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
    <div class="footer__content-right">
      <p>Follow Us</p>
      <ul *ngFor="let item of social_media">
        <img [src]="item.image" />
        <li>{{ item.title }}</li>
      </ul>
    </div>
  </div>
  <p class="footer__bottom">© 2021 | All rights reserved.</p>
</div>
