<div class="modal__wrapper">
  <div class="modal__header">
    <!-- <div>Sign Up</div> -->
    <button></button>
  </div>
  <div class="modal__inner">
    <div class="modal__required"><sup>*</sup>Required fields</div>
    <div class="modal__form">
      <form [formGroup]="signUpCourseForm">
        <control-wrapper
          label="First Name"
          [asterisk]="true"
          [labelIcon]="'assets/images/tooltip.svg'"
          [tooltipText]="tooltipText"
          [showError]="showError('firstName')"
          [fieldError]="getError('firstName')"
          errorMappingKey="firstName"
        >
          <input
            class="modal__control"
            type="text"
            formControlName="firstName"
          />
        </control-wrapper>

        <control-wrapper
          label="Last Name"
          [asterisk]="true"
          [labelIcon]="'assets/images/tooltip.svg'"
          [tooltipText]="tooltipText"
          [showError]="showError('lastName')"
          [fieldError]="getError('lastName')"
          errorMappingKey="lastName"
        >
          <input
            class="modal__control"
            type="text"
            formControlName="lastName"
          />
        </control-wrapper>

        <control-wrapper
          label="Email"
          [asterisk]="true"
          [labelIcon]="'assets/images/tooltip.svg'"
          [tooltipText]="tooltipText"
          [showError]="showError('email')"
          [fieldError]="getError('email')"
          errorMappingKey="email"
        >
          <input class="modal__control" type="email" formControlName="email" />
        </control-wrapper>

        <control-wrapper
          label="Phone"
          [asterisk]="true"
          [labelIcon]="'assets/images/tooltip.svg'"
          [tooltipText]="tooltipText"
          [showError]="showError('phone')"
          [fieldError]="getError('phone')"
          errorMappingKey="phone"
        >
          <input class="modal__control" type="text" formControlName="phone" />
        </control-wrapper>
      </form>
      <div class="button__wrapper">
        <button (click)="submitForm()">Submit</button>
      </div>
    </div>
  </div>
</div>
