::ng-deep {
  .mat-dialog-container {
    padding: 0;
  }
}


.modal {
  &__header {
    height: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    button {
      height: 18px;
      width: 18px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      background-image: url(../../../../assets/images/cancel.svg);
    }
  }

  &__wrapper {
    width: 700px;
    height: 500px;
    padding: 10px;
  }

  &__inner {
    width: 100%;
    height: 90%;
  }

  &__required {
    height: 10%;
    font-style: italic;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
  }

  &__form {
    padding: 0 30px;

    form {
      display: grid;
      grid-gap: 1.875rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__control {
    width: 100%;
    margin: 10px 0;
    outline: none;
    border: 1px solid #cccfd3;
    border-radius: 4px;
    padding: 10px;
    padding-right: 36px;
    line-height: 1.5rem;
    font-size: 1rem;

    &.ng-invalid.ng-touched {
      border: 1px solid #cc2936;
    }
  }
}

.button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 20px;

  button {
    background-color: #ab8e69;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    width: 25%;
    height: 100%;
  }
}
