<div class="container">
  <label *ngIf="label" [class.changedColor]="isSignUpComponent">
    {{ label }}
    <span *ngIf="asterisk" class="label__asterisk"><sup>*</sup></span>
    <img
      class="tooltip__icon"
      [src]="
        !isSignUpComponent ? labelIcon : '../../../../assets/images/tooltip-white.svg'
      "
      alt=""
    />
  </label>
</div>

<ng-content></ng-content>

<error-content
  [show]="showError"
  [fieldErrors]="fieldError"
  [errorMappingKey]="errorMappingKey"
></error-content>
