<div class="courses__wrapper">
  <div class="courses__inner">
    <div class="course__block" *ngFor="let course of courses" [class.liked-block]="likedCourses[course.id]">
      <div class="course__block-type">{{ course.type }}</div>
      <img class="course__block-photo" [src]="course.photoPath" alt="">
      <div class="course__block-subtype">{{ course.subType }}</div>
      <div class="course__block-like">
        <button class="button__like" (click)="handleLikeClick(course)" [class.is-liked]="likedCourses[course.id]"></button>
      </div>
      <div class="course__block-days">
        <div>Days:</div>
        <div class="course__block-days-count">{{ course.days }}</div>
      </div>
      <div class="course__block-price">
        <div class="course__block-price-title">Price:</div>
        <div class="course__block-price-count">{{ course.price }}$ <sub>per month</sub></div>
      </div>
      <div class="course__block-button">
        <button class="more-info">More Info</button>
        <button class="sign-in" (click)="openSignUpDialog()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
