.courses {
  &__wrapper {
    padding: 0 30px;
    width: 100%;
  }

  &__inner {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 40px 0;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.course__block {
  & {
    width: 25%;
    padding: 20px;
    margin: 0 30px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 6px 6px rgb(10 16 20 / 15%), 0 0 52px rgb(10 16 20 / 12%);
    border: 1px solid #0a0a0a;
    border-radius: 5%;
    position: relative;
  }

  &-type {
    height: 38px;
    display: flex;
    align-items: center;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: absolute;
    top: -20px;
    background-color: #ab8e69;
    color: white;
    border-radius: 10px;
    padding: 0 10px;
    justify-content: center;
    border: none;
  }

  &-subtype {
    margin: 20px 0;
    font-style: italic;
    color: maroon;
  }

  &-days {
    width: 25%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-title {
      color: #545454;
    }

    &-count {
      font-size: 16px;
    }
  }

  &-price {
    height: 60px;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-around;

    &-title {
      color: #545454;
    }

    &-count {
      font-size: 20px;
      font-weight: bold;
      color: maroon;
      display: flex;
      align-items: center;

      sub {
        font-size: 10px;
        margin-left: 5px;
      }
    }
  }

  &-button {
    width: 100%;
    display: flex;
    justify-content: space-around;

    button {
      height: 30px;
      width: 40%;
      background-color: transparent;
    }

    .more-info {
      border: 2px solid #ab8e69;
      color: #ab8e69;
      font-weight: bold;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
    }

    .sign-in {
      color: white;
      background-color: #ab8e69;
      font-weight: bold;
      border-radius: 3px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  &-like {
    margin-bottom: 20px;

    .button__like {
      background-image: url(../../../../assets/images/heart.png);
      height: 32px;
      width: 32px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .is-liked {
      background-image: url(../../../../assets/images/heart-1.png);
    }

  }
}
