.fourth {
  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 2px solid #ab8e69;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    box-sizing: border-box;
    border-radius: 20px;
    height: 500px;
  }

  &__container img {
    height: 60%;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
  }

  &__container p {
    padding: 0 20px;
  }

  &__p-bold {
    font-weight: bold;
    font-size: 16px;
    font-family: "Girassol", cursive;
    text-align: center;
  }

  &__p-normal {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: "Girassol", cursive;
    text-align: center;
  }

  &__p-description {
    font-weight: 500;
    font-size: 14px;
    margin-top: 25px;
    line-height: 20px;
    text-align: justify;
  }
}
