.header {
  &__wrapper {
    padding: 0 30px;
    height: 100px;
    width: 100%;
    box-shadow: 0 6px 6px rgb(10 16 20 / 15%), 0 0 52px rgb(10 16 20 / 12%);
    &-top {
      height: 100%;
      width: 80%;
      max-width: 1150px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__logo {
    font-size: 30px;
  }
  &__nav-menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
}

.nav__item {
  font-size: 14px;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
  letter-spacing: 2px;
  color: #ab8e69;

  img {
    height: 24px;
    margin-right: 10px;
  }

  &-liked {
    background-image: url(../../../../assets/images/heart.png);
    height: 32px;
    width: 32px;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;

    &-count {
      position: absolute;
      height: 15px;
      width: 15px;
      background-color: red;
      border-radius: 50%;
      left: 80%;
      bottom: 60%;
      color: white;
    }
  }
}
