<div class="header__wrapper">
  <div class="header__wrapper-top">
    <div class="header__logo">Speak</div>
    <div class="header__nav-menu">
      <div
        class="nav__item"
        *ngFor="let item of nav_items"
        (click)="navigateTo(item)"
      >
        <img [src]="item.icon" />
        <div>
          {{ item.title }}
        </div>
      </div>
      <button class="nav__item-liked" [mat-menu-trigger-for]="likedCourses">
        <div class="nav__item-liked-count" *ngIf="likedCoursesCount > 0">{{ likedCoursesCount }}</div>
      </button>
    </div>
  </div>
</div>

<mat-menu #likedCourses>
  <liked-courses></liked-courses>
</mat-menu>
